{% extends "global/Base.html" %}
{% load staticfiles otree_tags i18n %}

{% block title %}
    {% trans "Game 2" %}
{% endblock %}

{% block content %}

    <ul class="lead">
        <li>{% trans "You will begin the game with" %} <span class="text-info">{{12|c}}</span>.{% trans "- and you will play with units of" %} <span class="text-info">{{0.20|c}}</span>-</li>
        <li>{% trans "You and the other participant will decide how you want to distribute this sum." %}</li>
        <li>{% trans "You will be allowed to put this money into a private account or a project." %}</li>
    </ul>

    {% next_button %}

{% endblock %}
